.form-edit{
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 400px;
  border-radius: 8px;
  margin-top: 40px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}