html{
  background-color: antiquewhite;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  background-color: #af4c4c; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 6px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 8px;

}

input , select {
  padding: 10px 18px;
  margin: 16px 0 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2rem;  
}


